<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melot.meshow"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
   
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="false" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.RECEIVE_USER_PRESENT"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- payeco -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >

        <meta-data
            android:name="Statistics_LOG"
            android:value="true" />
        <meta-data
            android:name="Debug_LOG"
            android:value="false" />

        <activity
            android:name=".main.rank.RoomRankList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".room.RoomStarRankActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.myfollow.MyLoveActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.QuickRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".room.ChatRoom"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="meshow.chatroom.all" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".room.ServiceCenter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".room.UserServiceCenter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".room.ServerServiceCenter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".room.ChoiceSong"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".account.UserLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".account.UserRegister"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".account.PhoneRegisterVerify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".account.RegisterSuccess"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".account.ServiceAgreementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.mynamecard.MyNameCardEdit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.mynamecard.CitySetter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.NameCard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.FansOrFollows"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".imageviewer.NewPhotoViewer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PhotoViewAnim" >
        </activity>
        <activity
            android:name=".main.ActionWebview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".fillmoney.FillMoney"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".fillmoney.PaymentMethods"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fillmoney.AlipayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 易联支付 -->
        <activity
            android:name=".fillmoney.PayecoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoOrderDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoPayResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoRiskControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".fillmoney.FillMoney2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".fillmoney.FillMoney3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.UserCars"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".room.RoomActivities"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".room.chat.RoomMessageHistory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.rank.RankActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.melot.meshow.util.AppStatusService"
            android:enabled="true"
            android:label="AppStatusService"
            android:process="com.melot.meshow" >
            <intent-filter>
                <action android:name="com.melot.meshow.util.AppStatusService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>